@layer theme, base, antd, components, utilities;

@import "tailwindcss";

@theme {
  --color-light-gray: #827e7e;
  --breakpoint-xxs: 34.375rem;
}

html,
body {
  height: 100vh;
  font-family: "Inter";
}
