@layer theme, base, antd, components, utilities;

@import "tailwindcss";

@theme {
  --color-light-gray: #827e7e;
  --breakpoint-xxs: 34.375rem;
  --color-active-link-col: #1890ff;
}

@layer components {
  .active-link {
    @apply text-active-link-col underline underline-offset-8 decoration-active-link-col;
  }
}

html,
body {
  height: 100vh;
  font-family: "Inter";
}
